---
import './hero.css';
import { Boton } from '@/components/atoms';
---

<section class="hero">

    <div class="hero__container">
        <div class="text__content">
            <h1 class="hero__title color__gradiente">Geoffrey Coutant</h1>
            <p class="hero__text">
                Une description courte et accrocheuse sur le site
            </p>
            <Boton href="#about" texto="En savoir plus"/>
        </div>
        <img
                class="hero__img"
                src="/img/geoffrey-coutant-photo.svg"
                alt="Geoffrey Coutant"
                width="384"
                height="384"
        />
    </div>
</section>
