---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
    <SkillsOnTerminal />
    <div class="text-content">
        <Title container="Compétences" />
        <div class="flex flex-wrap gap-3">
            <div class="flex flex-col gap-2">
                <h1 class="text-white underline underline-offset-4 text-3xl">🔧 Langages & Frameworks : </h1>
                <p>Je maîtrise HTML, CSS, Tailwind CSS, JavaScript et C#.</p>
                <p>J'ai de bonnes compétences en React, Python et SQL, et je continue d'explorer Angular, PHP, Java et Vue.js.</p>
                <p>Je travaille avec le framework ASP.NET pour le développement d'applications web.</p>
            </div>
            <div class="">
                <h1 class="text-white underline underline-offset-4 text-3xl">🖥️ Outils & Environnements : </h1>
                <p>Je suis à l'aise avec JetBrains IDEs, Git (GitHub, GitLab), Figma, Notion, Slack, ainsi que Docker, MongoDB et PostgreSQL.</p>
            </div>
        </div>
    </div>
</section>
