---
import "../../styles/global.css";
import '../hero/hero.css';
const { href, texto, clickable = true } = Astro.props;
---

{clickable && href ? (
<a class="primary button" href={href}>{texto}</a>
    ) : (
<span class="primary button disabled">{texto}</span>
    )}

<style>
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.1rem 2.2rem;
        background: var(--primary);
        border-radius: 100px;
        font-size: var(--text-x-large);
        transition: 0.35s opacity;
        max-width: max-content;
        color: var(--primary-90);
        cursor: pointer;
        user-select: none;
    }
    .button:hover {
        opacity: 0.7;
    }
    .button:active {
        opacity: 0.5;
    }

    /* Styles pour quand le bouton n'est pas cliquable */
    .button.disabled {
        opacity: 0.5;
        pointer-events: none; /* désactive tout clic */
        cursor: default;
    }
    .button.disabled:hover {
        opacity: 0.5; /* Pas d'effet hover si désactivé */
    }
</style>
